<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="as.mke.opglts" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="opengltest"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="opengltest" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
